# ----------------------------------------
# Python
# ----------------------------------------

__pycache__/
*.py[cod]
*$py.class

# ----------------------------------------
# Virtual Environments
# ----------------------------------------

venv/
.venv/
env/

# ----------------------------------------
# VS Code
# ----------------------------------------

.vscode/

# ----------------------------------------
# macOS
# ----------------------------------------

.DS_Store

# ----------------------------------------
# Testing / Coverage
# ----------------------------------------

.pytest_cache/
.coverage
htmlcov/

# ----------------------------------------
# Type Checking
# ----------------------------------------

.mypy_cache/

# ----------------------------------------
# Ruff
# ----------------------------------------

.ruff_cache/

# ----------------------------------------
# Build Files
# ----------------------------------------

build/
dist/
*.egg-info/